*[class*="cucumber_selected"]::after {
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
    padding: 4px !important;
    z-index: 2147483647 !important;
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600 !important;
    color: #000;
    height: 40px !important;
    width: 100% !important;
    text-align: center !important;
    visibility: visible !important;
    display: inline-block !important;
    line-height: 2.5 !important;
    transition: none !important;
    vertical-align: middle;
    border-bottom-right-radius: 4px;
    flex-shrink: initial !important;
    opacity: 1 !important;
}

.cucumber_selected_div {
    outline: 3px solid red !important;
}

.cucumber_selected_div::after {
    content: "DIV" !important;
    background: red !important;
}

.cucumber_selected_h1 {
    outline: 3px solid yellow !important;
}

.cucumber_selected_h1::after {
    content: "H1" !important;
    background: yellow !important;
}

.cucumber_selected_h2 {
    outline: 3px solid pink !important;
}

.cucumber_selected_h2::after {
    content: "H2" !important;
    background: pink !important;
}

.cucumber_selected_h3 {
    outline: 3px solid green !important;
}

.cucumber_selected_h3::after {
    content: "H3" !important;
    background: green !important;
}

.cucumber_selected_h4 {
    outline: 3px solid orange !important;
}

.cucumber_selected_h4::after {
    content: "H4" !important;
    background: orange !important;
}

.cucumber_selected_h5 {
    outline: 3px solid blue !important;
}

.cucumber_selected_h5::after {
    content: "H5" !important;
    background: blue !important;
}

.cucumber_selected_h6 {
    outline: 3px solid purple !important;
}

.cucumber_selected_h6::after {
    content: "H6" !important;
    background: blue !important;
}

.cucumber_selected_input {
    outline: 3px solid turquoise;
}

.cucumber_selected_input::after {
    content: "input" !important;
    background: turquoise !important;
}

.cucumber_selected_button {
    outline: 3px solid gold !important;
}

.cucumber_selected_button::after {
    content: "button" !important;
    background: gold !important;
}

.cucumber_selected_a {
    outline: 3px solid plum !important;
}

.cucumber_selected_a::after {
    content: "a" !important;
    background: plum !important;
}

.cucumber_selected_p {
    outline: 3px solid lightblue !important;
}

.cucumber_selected_p::after {
    content: "p" !important;
    background: lightblue !important;
}

#extension_popup button {
    text-align: center;
    background: #f89406;
    border-radius: 4px;
    font-size: 18px;
    height: 49px;
    line-height: 21.6px;
    margin: 8px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border: none;
}

/*Extension Popup*/

body#extension_popup {
    width: 250px;
    margin: 0;
}

#extension_popup {
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background-image: url("images/cover_bg.jpg");
    background-size: cover;
    padding: 5px;
}

#extension_popup button:hover {
    background: #c17d31;
}

/*Toggle*/

#extension_popup .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#extension_popup .switch input {
    display: none;
}

#extension_popup .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#extension_popup .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

#extension_popup input:checked + .slider {
    background: #f89406;
}

#extension_popup input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
#extension_popup .slider.round {
    border-radius: 34px;
}
